/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 414px;
}

header {
  background-color: yellow;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}


header > a {
  display:block;
  width:1em;
  height:3.5em;
  line-height:3.5em;
  padding-left: 1.2em;

  font-size: 1.2em;
  font-weight: bolder;
  text-decoration: none;
}


header nav {
  flex-grow:1;
}

header nav ul {
  margin:0;
  padding:0;
  list-style:none;
  display:flex;
  gap:1px;
}

header nav li {
  flex-grow:1;
  flex-shrink:0;
  min-width:4em;
  
  background-color:red;
}

header nav a {
  text-decoration:none;
  outline:none;
  display:block;
  text-align:center;
  line-height:3.5em;
}